{
  "name": "power-pi",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "website/vendors/bootstrap/less/bootstrap.less",
      "imports": [
        "website/vendors/bootstrap/less/variables.less",
        "website/vendors/bootstrap/less/mixins.less",
        "website/vendors/bootstrap/less/normalize.less",
        "website/vendors/bootstrap/less/print.less",
        "website/vendors/bootstrap/less/glyphicons.less",
        "website/vendors/bootstrap/less/scaffolding.less",
        "website/vendors/bootstrap/less/type.less",
        "website/vendors/bootstrap/less/code.less",
        "website/vendors/bootstrap/less/grid.less",
        "website/vendors/bootstrap/less/tables.less",
        "website/vendors/bootstrap/less/forms.less",
        "website/vendors/bootstrap/less/buttons.less",
        "website/vendors/bootstrap/less/component-animations.less",
        "website/vendors/bootstrap/less/dropdowns.less",
        "website/vendors/bootstrap/less/button-groups.less",
        "website/vendors/bootstrap/less/input-groups.less",
        "website/vendors/bootstrap/less/navs.less",
        "website/vendors/bootstrap/less/navbar.less",
        "website/vendors/bootstrap/less/breadcrumbs.less",
        "website/vendors/bootstrap/less/pagination.less",
        "website/vendors/bootstrap/less/pager.less",
        "website/vendors/bootstrap/less/labels.less",
        "website/vendors/bootstrap/less/badges.less",
        "website/vendors/bootstrap/less/jumbotron.less",
        "website/vendors/bootstrap/less/thumbnails.less",
        "website/vendors/bootstrap/less/alerts.less",
        "website/vendors/bootstrap/less/progress-bars.less",
        "website/vendors/bootstrap/less/media.less",
        "website/vendors/bootstrap/less/list-group.less",
        "website/vendors/bootstrap/less/panels.less",
        "website/vendors/bootstrap/less/responsive-embed.less",
        "website/vendors/bootstrap/less/wells.less",
        "website/vendors/bootstrap/less/close.less",
        "website/vendors/bootstrap/less/modals.less",
        "website/vendors/bootstrap/less/tooltip.less",
        "website/vendors/bootstrap/less/popovers.less",
        "website/vendors/bootstrap/less/carousel.less",
        "website/vendors/bootstrap/less/utilities.less",
        "website/vendors/bootstrap/less/responsive-utilities.less",
        "website/vendors/bootstrap/less/mixins/hide-text.less",
        "website/vendors/bootstrap/less/mixins/opacity.less",
        "website/vendors/bootstrap/less/mixins/image.less",
        "website/vendors/bootstrap/less/mixins/labels.less",
        "website/vendors/bootstrap/less/mixins/reset-filter.less",
        "website/vendors/bootstrap/less/mixins/resize.less",
        "website/vendors/bootstrap/less/mixins/responsive-visibility.less",
        "website/vendors/bootstrap/less/mixins/size.less",
        "website/vendors/bootstrap/less/mixins/tab-focus.less",
        "website/vendors/bootstrap/less/mixins/reset-text.less",
        "website/vendors/bootstrap/less/mixins/text-emphasis.less",
        "website/vendors/bootstrap/less/mixins/text-overflow.less",
        "website/vendors/bootstrap/less/mixins/vendor-prefixes.less",
        "website/vendors/bootstrap/less/mixins/alerts.less",
        "website/vendors/bootstrap/less/mixins/buttons.less",
        "website/vendors/bootstrap/less/mixins/panels.less",
        "website/vendors/bootstrap/less/mixins/pagination.less",
        "website/vendors/bootstrap/less/mixins/list-group.less",
        "website/vendors/bootstrap/less/mixins/nav-divider.less",
        "website/vendors/bootstrap/less/mixins/forms.less",
        "website/vendors/bootstrap/less/mixins/progress-bar.less",
        "website/vendors/bootstrap/less/mixins/table-row.less",
        "website/vendors/bootstrap/less/mixins/background-variant.less",
        "website/vendors/bootstrap/less/mixins/border-radius.less",
        "website/vendors/bootstrap/less/mixins/gradients.less",
        "website/vendors/bootstrap/less/mixins/clearfix.less",
        "website/vendors/bootstrap/less/mixins/center-block.less",
        "website/vendors/bootstrap/less/mixins/nav-vertical-align.less",
        "website/vendors/bootstrap/less/mixins/grid-framework.less",
        "website/vendors/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "website/vendors/bootstrap/less/mixins.less",
      "imports": [
        "website/vendors/bootstrap/less/mixins/hide-text.less",
        "website/vendors/bootstrap/less/mixins/opacity.less",
        "website/vendors/bootstrap/less/mixins/image.less",
        "website/vendors/bootstrap/less/mixins/labels.less",
        "website/vendors/bootstrap/less/mixins/reset-filter.less",
        "website/vendors/bootstrap/less/mixins/resize.less",
        "website/vendors/bootstrap/less/mixins/responsive-visibility.less",
        "website/vendors/bootstrap/less/mixins/size.less",
        "website/vendors/bootstrap/less/mixins/tab-focus.less",
        "website/vendors/bootstrap/less/mixins/reset-text.less",
        "website/vendors/bootstrap/less/mixins/text-emphasis.less",
        "website/vendors/bootstrap/less/mixins/text-overflow.less",
        "website/vendors/bootstrap/less/mixins/vendor-prefixes.less",
        "website/vendors/bootstrap/less/mixins/alerts.less",
        "website/vendors/bootstrap/less/mixins/buttons.less",
        "website/vendors/bootstrap/less/mixins/panels.less",
        "website/vendors/bootstrap/less/mixins/pagination.less",
        "website/vendors/bootstrap/less/mixins/list-group.less",
        "website/vendors/bootstrap/less/mixins/nav-divider.less",
        "website/vendors/bootstrap/less/mixins/forms.less",
        "website/vendors/bootstrap/less/mixins/progress-bar.less",
        "website/vendors/bootstrap/less/mixins/table-row.less",
        "website/vendors/bootstrap/less/mixins/background-variant.less",
        "website/vendors/bootstrap/less/mixins/border-radius.less",
        "website/vendors/bootstrap/less/mixins/gradients.less",
        "website/vendors/bootstrap/less/mixins/clearfix.less",
        "website/vendors/bootstrap/less/mixins/center-block.less",
        "website/vendors/bootstrap/less/mixins/nav-vertical-align.less",
        "website/vendors/bootstrap/less/mixins/grid-framework.less",
        "website/vendors/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "website/vendors/bootstrap/less/theme.less",
      "imports": [
        "website/vendors/bootstrap/less/variables.less",
        "website/vendors/bootstrap/less/mixins.less",
        "website/vendors/bootstrap/less/mixins/hide-text.less",
        "website/vendors/bootstrap/less/mixins/opacity.less",
        "website/vendors/bootstrap/less/mixins/image.less",
        "website/vendors/bootstrap/less/mixins/labels.less",
        "website/vendors/bootstrap/less/mixins/reset-filter.less",
        "website/vendors/bootstrap/less/mixins/resize.less",
        "website/vendors/bootstrap/less/mixins/responsive-visibility.less",
        "website/vendors/bootstrap/less/mixins/size.less",
        "website/vendors/bootstrap/less/mixins/tab-focus.less",
        "website/vendors/bootstrap/less/mixins/reset-text.less",
        "website/vendors/bootstrap/less/mixins/text-emphasis.less",
        "website/vendors/bootstrap/less/mixins/text-overflow.less",
        "website/vendors/bootstrap/less/mixins/vendor-prefixes.less",
        "website/vendors/bootstrap/less/mixins/alerts.less",
        "website/vendors/bootstrap/less/mixins/buttons.less",
        "website/vendors/bootstrap/less/mixins/panels.less",
        "website/vendors/bootstrap/less/mixins/pagination.less",
        "website/vendors/bootstrap/less/mixins/list-group.less",
        "website/vendors/bootstrap/less/mixins/nav-divider.less",
        "website/vendors/bootstrap/less/mixins/forms.less",
        "website/vendors/bootstrap/less/mixins/progress-bar.less",
        "website/vendors/bootstrap/less/mixins/table-row.less",
        "website/vendors/bootstrap/less/mixins/background-variant.less",
        "website/vendors/bootstrap/less/mixins/border-radius.less",
        "website/vendors/bootstrap/less/mixins/gradients.less",
        "website/vendors/bootstrap/less/mixins/clearfix.less",
        "website/vendors/bootstrap/less/mixins/center-block.less",
        "website/vendors/bootstrap/less/mixins/nav-vertical-align.less",
        "website/vendors/bootstrap/less/mixins/grid-framework.less",
        "website/vendors/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "website/vendors/font-awesome/less/font-awesome.less",
      "imports": [
        "website/vendors/font-awesome/less/variables.less",
        "website/vendors/font-awesome/less/mixins.less",
        "website/vendors/font-awesome/less/path.less",
        "website/vendors/font-awesome/less/core.less",
        "website/vendors/font-awesome/less/larger.less",
        "website/vendors/font-awesome/less/fixed-width.less",
        "website/vendors/font-awesome/less/list.less",
        "website/vendors/font-awesome/less/bordered-pulled.less",
        "website/vendors/font-awesome/less/animated.less",
        "website/vendors/font-awesome/less/rotated-flipped.less",
        "website/vendors/font-awesome/less/stacked.less",
        "website/vendors/font-awesome/less/icons.less",
        "website/vendors/font-awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "website/vendors/font-awesome/scss/font-awesome.scss",
      "imports": [
        "website/vendors/font-awesome/scss/_variables.scss",
        "website/vendors/font-awesome/scss/_mixins.scss",
        "website/vendors/font-awesome/scss/_path.scss",
        "website/vendors/font-awesome/scss/_core.scss",
        "website/vendors/font-awesome/scss/_larger.scss",
        "website/vendors/font-awesome/scss/_fixed-width.scss",
        "website/vendors/font-awesome/scss/_list.scss",
        "website/vendors/font-awesome/scss/_bordered-pulled.scss",
        "website/vendors/font-awesome/scss/_animated.scss",
        "website/vendors/font-awesome/scss/_rotated-flipped.scss",
        "website/vendors/font-awesome/scss/_stacked.scss",
        "website/vendors/font-awesome/scss/_icons.scss",
        "website/vendors/font-awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "website/vendors/cropper/src/scss/cropper.scss",
      "imports": [
        "website/vendors/cropper/src/scss/_variables.scss",
        "website/vendors/cropper/src/scss/_mixins.scss",
        "website/vendors/cropper/src/scss/_main.scss",
        "website/vendors/cropper/src/scss/_utilities.scss"
      ]
    },
    {
      "path": "website/vendors/select2/src/scss/core.scss",
      "imports": [
        "website/vendors/select2/src/scss/_single.scss",
        "website/vendors/select2/src/scss/_multiple.scss",
        "website/vendors/select2/src/scss/_dropdown.scss",
        "website/vendors/select2/src/scss/theme/default/layout.scss",
        "website/vendors/select2/src/scss/theme/classic/layout.scss",
        "website/vendors/select2/src/scss/theme/default/_single.scss",
        "website/vendors/select2/src/scss/theme/default/_multiple.scss",
        "website/vendors/select2/src/scss/theme/classic/_defaults.scss",
        "website/vendors/select2/src/scss/mixins/_gradients.scss",
        "website/vendors/select2/src/scss/theme/classic/_single.scss",
        "website/vendors/select2/src/scss/theme/classic/_multiple.scss"
      ]
    },
    {
      "path": "website/vendors/select2/docs/_sass/vendor/bootstrap/_mixins.scss",
      "imports": [
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_hide-text.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_opacity.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_image.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_labels.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_resize.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_size.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_reset-text.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_alerts.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_buttons.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_panels.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_pagination.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_list-group.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_forms.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_table-row.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_background-variant.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_border-radius.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_gradients.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_clearfix.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_center-block.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "website/vendors/select2/docs/_sass/vendor/bootstrap/_theme.scss",
      "imports": [
        "website/vendors/select2/docs/_sass/vendor/bootstrap/_variables.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/_mixins.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_hide-text.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_opacity.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_image.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_labels.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_reset-filter.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_resize.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_responsive-visibility.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_size.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_tab-focus.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_reset-text.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_text-emphasis.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_text-overflow.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_vendor-prefixes.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_alerts.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_buttons.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_panels.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_pagination.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_list-group.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_nav-divider.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_forms.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_progress-bar.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_table-row.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_background-variant.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_border-radius.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_gradients.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_clearfix.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_center-block.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_nav-vertical-align.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_grid-framework.scss",
        "website/vendors/select2/docs/_sass/vendor/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "website/vendors/select2/src/scss/theme/classic/layout.scss",
      "imports": [
        "website/vendors/select2/src/scss/theme/classic/_defaults.scss",
        "website/vendors/select2/src/scss/mixins/_gradients.scss",
        "website/vendors/select2/src/scss/theme/classic/_single.scss",
        "website/vendors/select2/src/scss/theme/classic/_multiple.scss"
      ]
    },
    {
      "path": "website/vendors/select2/src/scss/theme/default/layout.scss",
      "imports": [
        "website/vendors/select2/src/scss/theme/default/_single.scss",
        "website/vendors/select2/src/scss/theme/default/_multiple.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7890,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}